<a href="https://colab.research.google.com/github/redrabbit329/colab_pypydl/blob/master/Ch5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5.1.6. 리스트 요소 갱신 및 추가 : '리스트[값덱스 번호] = 값' 을 사용하면, 지정한 인덱스 요소의 값을 갱신할 수 있음
- 리스트에 요소를 추가하고 싶은 경우 : 리스트와 리스트를 + 기호로 연결
-  '리스트명.append(추가할 요소)' 로 추가할 수도 있음
- append() 메서드를 사용 시 동시에 여러 개를 추가할 수 있음

In [1]:
# 리스트 요소 갱신 및 추가
alphabet = ["a","b","c","d","e"]
alphabet[0] = "A"
alphabet[1:3] = ["B", "C"]
print(alphabet)

alphabet = alphabet + ["f"]
alphabet += ["g","h"]
alphabet.append("i")
print(alphabet)

['A', 'B', 'C', 'd', 'e']
['A', 'B', 'C', 'd', 'e', 'f', 'g', 'h', 'i']

In [15]:
d=["dog","blud","yellow"]
# 변수 c의 첫 요소를 "red"로 갱신하세요
d[0] = "red"
print(d)

['red', 'blud', 'yellow']

In [16]:
# 리스트 끝에 문자열 'green'을 추가하세요
d = d + ["green"]
print(d)

['red', 'blud', 'yellow', 'green']

In [0]:
d.append("purple")

In [18]:
print(d)

['red', 'blud', 'yellow', 'green', 'purple']

In [21]:
d.append("brown")
print(d)

['red', 'blud', 'yellow', 'green', 'purple', 'brown']

5.1.7. 텍스트 요소 삭제
- 리스트 요소를 삭제하려면 'del 리스트[인덱스번호]'라고 기술한다.
- 그러면 지정한 인덱스 번호의 요소가 삭제된다.
- 인덱스 번호는 슬라이스로 지정할 수도 있다.

In [22]:
# 리스트에서 요소를 삭제하는 방법
alphabet = ["a","b","c","d","e"]
del alphabet[3:]
print(alphabet)

['a', 'b', 'c']

In [23]:
del alphabet[0]
print(alphabet)

['b', 'c']

In [25]:
# 변수 C의 첫 번째 요소를 제거하세요
c = ["dog","blue","yellow"]
del c[0]
print(c)

['blue', 'yellow']

5.1.8. 리스트형의 주의점
리스트 변수를 다른 변수에 대입한 뒤, 대입한 변수에서 값을 바꾸면, 원래의 변수의 값도 바뀌어 버린다. 이를 막기 위해 y = x 대신 y = x[:] 또는 y = list(x)라고 쓰면 된다.

In [28]:
alphabet = ["a","b","c"]
alphabet_copy = alphabet
alphabet_copy[0] = "A"
print(alphabet)   # 원래 리스트의 요소가 같이 변경되어 버림

['A', 'b', 'c']

In [29]:
alphabet = ["a","b","c"]
alphabet_copy = alphabet[:]
alphabet_copy[0] = "A"
print(alphabet)   # 원래 리스트의 요소는 변경되지 않음

['a', 'b', 'c']

In [30]:
alphabet = ["a","b","c"]
alphabet_copy = list(alphabet)
alphabet_copy[0] = "A"
print(alphabet)   # 원래 리스트의 요소는 변경되지 않음

['a', 'b', 'c']

In [32]:
# 변수 c의 값이 변하지 않도록 c_copy = c 부분을 록정하세요
c=["red","blue","yellow"]
c_copy = list(c)   # copy to list c value
c_copy[1] = "green"
print(c)

['red', 'blue', 'yellow']

5.2 딕셔너리
5.2.1. 딕셔너리 형
 - 리스트처럼 여러 데이터를 다룰 때 쓰인다.
 - 리스트와 달리, 키와 값이 쌍으로 연겨되어 있어, 키값을 통해 연결되어 있는 값을 얻는다. JSON과 비슷한 자료형이라고 기억해 두면 좋겠다.
 - 작성방법 : {키1: 값1, 키2: 값2, ...}
 - 문자열의 경우에는 따옴표로 감싸준다.

In [33]:
dic = {"Japen":"Tokyu","Korea":"Seoul"}
print(dic)

{'Japen': 'Tokyu', 'Korea': 'Seoul'}

In [35]:
# 변수 'town'에 다음 키와 값을 가진 딕셔너리를 만들어 저장하세요
# 키1:경기도, 값1:수원, 키2:서울, 값2:중구
town = {"경기도":"수원", "서울":"중구"}
print(town)
print(type(town))

{'경기도': '수원', '서울': '중구'}
<class 'dict'>

5.2.2. 딕셔너리 요소 추출
- 딕셔너리 요소를 추출할 때는 딕셔너리명["키"]라고 입력합니다.

In [37]:
# 딕셔너리 요소를 추출하는 예
dic = {"Japan":"Tokyo", "Korea":"Seoul"}
print(dic["Japan"])

Tokyo

In [41]:
# 딕셔너리 town의 값을 이용하여 " 경기도의 중심 도시는 수원입니다"라고 출력하세요
# 딕셔너리 town의 값을 이용하여, "서울의 중심 도시는 중구입니다" 라고 출력하세요
# 출력은 print()함수를 이용하세요
town = {"경기도":"수원","서울":"중구"}
print("경기도의 중심 도시는 "+town["경기도"]+"입니다")
print("서울의 중심 도시는 "+town["서울"]+"입니다")

경기도의 중심 도시는 수원입니다
서울의 중심 도시는 중구입니다

5.2.3. 딕셔너리 갱신 및 추가
- 딕셔너리 요소를 갱신할 때는 '딕셔너리명["값을 갱신할 키"]=값'이라쓰고
- 딕셔너리 요소를 추가할 때는 '딕셔너리명["추가할 키"]='이라 쓴다.

In [43]:
# 딕셔너리 갱신 및 추가의 예
dic = {"Japan":"Tokyo", "Korea":"Seoul"}
# 딕셔너리 갱신
dic["Japan"] = "Osaka"
# 추가
dic["China"]="Beijin"
print(dic)

{'Japan': 'Osaka', 'Korea': 'Seoul', 'China': 'Beijin'}

In [44]:
town = {"경기도":"수원", "서울":"중구"}
# 키 "제주도" 키값 "제주시"를 추가 후 출력
town["제주도"] = "제주시"
print(town)

{'경기도': '수원', '서울': '중구', '제주도': '제주시'}

In [45]:
# 경기도 값을 분당으로 변경한 후 출력하세요
town["경기도"] = "분당"
print(town)

{'경기도': '분당', '서울': '중구', '제주도': '제주시'}

5.2.4. 딕셔너리 요소의 삭제
- 딕셔너리 삭제도 리스트와 같이 '딕셔너리명["삭제할 키"]'라고 적는다.

In [46]:
# 딕셔너리 요소 삭제의 예
dic = {"Japen":"Tokyo","Korea":"Seoul","China":"Beijin"}
del dic["China"]
print(dic)

{'Japen': 'Tokyo', 'Korea': 'Seoul'}

In [47]:
# 키가 '경기도'인 요소를 삭제하세요.
town = {"경기도":"분당","서울":"중구","제주도":"제주시"}
del town["경기도"]
print(town)

{'서울': '중구', '제주도': '제주시'}

5.3. while문
5.3.1. while문 1
- while문을 이용하면, 주어진 조건식이 false가 될 때까지 전처리를 반복(루프)할 수 있다. 
- if처럼, while 조건식:...이라고 기술한다.
- 조건식이 True인 동안 While문의 처리가 반복된다.

In [48]:
# While문의 예
n=2
while n>0:
  print(n)
  n-=1

2
1

In [49]:
x=5
while x>0:
  print("Hanbit")
  x-=2

Hanbit
Hanbit
Hanbit

5.3.2. while문 2
문제 : while문을 사용하여 변수 x가 0이 아닌 동안 반복하도록 만드세요
반복문 안에서는 변수 x에서 1을 빼고, x 값을 출력하세요
출력은 print()함수를 사용
다음처럼 실행결과가 나오게 만드세요
4
3
2
1
0

In [50]:
x=5
while x !=0:
  x-=1
  print(x)

4
3
2
1
0

5.3.3. while과 if

In [51]:
x=5
while x !=0:
  x-=1
  print(x)
  if x==1:
    print("Bang")
    break;

4
3
2
1
Bang

In [52]:
# 해답은 나랑 달랐음
x=5
while x !=0:
  x-=1
  if x != 0:
    print(x)
  else:
    print("Bang")

4
3
2
1
Bang

5.4 for문 
 - 리스트의 요소를 모두 출력하고 싶을 때 자주 사용하는 for문
 - for 변수 in 데이터셋: 이라고 작성하면, 데이터셋의 요소 수만큼 처리반복
 - 데이터셋 : 리스트형이나 딕셔너리형처럼 복수의 요소를 가진 것
 - for문 뒤의 콜론(:), 들여쓰기로 처리 범위를 나타낸다.

In [53]:
# for문의 예
animals = ["tiger","dog","elephant"]
for animal in animals:
  print(animal)

tiger
dog
elephant

In [54]:
# for문을 사용하여 변수 storages의 요소를 하나씩 출력하세요
# 출력은 print()함수를 사용하세요
# for문에서 사용할 변수명은 임의로 지정하세요
storages = [1,2,3,4]
for story in storages:
  print(story)

1
2
3
4

5.4.2. break
break를 이용하여 반복 처리를 종료할 수 있다. if와 같이 사용된다

In [55]:
# break의 예
storages = [1,2,3,4,5,6,7,8,9,10]
for n in storages:
  print(n)
  if n>=5:
    print("끝")
    break

1
2
3
4
5
끝

In [58]:
# 변수의 값이 4 일 때, 처리를 종료하세요
storages = [1,2,3,4,5,6]
for n in storages:
  print(n)
  if n == 4:
    break

1
2
3
4

5.4.3. continue 
-continue는 break와 마찬가지로 if문과 조합하여 사용가능하지만, break와 달리 특정 조건일 때 루프를 한 번 건너뛴다

In [59]:
# continue의 예
storages = [1,2,3]
for n in storages:
  if n == 2:
    continue
  print(n)

1
3

In [62]:
# 변수 n이 2의 배수일 때는 continue를 사용하여 처리를 생략하세요
storages = [1,2,3,4,5,6]
for n in storages:
  # continue를 적을 때는 건너 뛰고 계속하는 조건으로, 중단하고 나가는 게 아님...
  if (n%2)==0:
    continue
  print(n)

1
3
5

5.5 추가 설명
5.5.1. for문에서 index표시
- for문을 사용한 루프에서 리스트의 인덱스 확인이 필요할 때가 있다.
- enumerate()함수를 사용하면, 인덱스가 포함된 요소를 얻을 수 있다.