<a href="https://colab.research.google.com/github/redrabbit329/colab_pypydl/blob/master/Ch8_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 8.2.4. 요소 추가 
   - pd.Series에 요소를 추가하려면, 추가되는 요소도 Series여야 한다
   - 추가할 요소는 series로 변환한 뒤, Series형의 append()로 전달하여 추가한다

In [0]:
# 8-14
import pandas as pd

fruits = {"banana": 3, "orange":2}
print(type(fruits))
series = pd.Series(fruits)
print(type(series))

# 특정 판다스 시리즈 선언 = pandas.Series([data요소],index=[index요소,str일 경우""로 묶음])
test = pd.Series([3],index=["grape"])
print(type(test))

# 요소 추가 (pandas series이름).append()
test = test.append(series)
print("\ntest : \n",test)

series = series.append(pd.Series([3],index=["grape"]))
print("\nseries : \n",series)

# index = "pineapple", data = 12
series = series.append(pd.Series([12], index=["pineapple"]))
print("\nseries\n:",series)

<class 'dict'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

test :
 grape     3
banana    3
orange    2
dtype: int64

series :
 banana    3
orange    2
grape     3
dtype: int64

series
: banana        3
orange        2
grape         3
pineapple    12
dtype: int64

### 8.2.3. 요소 삭제
   - Series의 인덱스 참조를 이용하여 요소 삭제
   - 변수 series에서, series.drop("인덱스") 로 요소 삭제

In [0]:
# 8-17 
import pandas as pd

# index와 data값을 갖는 series list를 생성한다.
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10, 5, 8, 12, 3]

series = pd.Series(data,index=index)
print("original series :\t",series)

# 요소가 strawberry인 항목을 삭제
series = series.drop("strawberry")
print("dropped series :\t",series)

original series :	 apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64
dropped series :	 apple        10
orange        5
banana        8
kiwifruit     3
dtype: int64

### 8.2.6.필터링
   - Series형 데이터에서 조건과 일치하는 요소를 꺼내고 싶을 때, pandas에서는 bool형의 시퀀스를 지정해서 True인 것만 추출할 수 있다.

In [0]:
# 8-18 필터링의 예
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index=index)

# filtering할 조건을 불리언형으로 저장
conditions = [True, True, False, False, False]
print(series[conditions])

# 8-20
print(series)
print()
print(series[series >= 5])

apple     10
orange     5
dtype: int64
apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

apple         10
orange         5
banana         8
strawberry    12
dtype: int64

bool형의 시퀀스를 작성하여 필터링을 했지만, Pandas에서는 Series또는 DataFrame을 사용하여 조건식을 만들어도 bool형의 시퀀스를 획득할 수 있다.
예를 들어 Series변수 series에 대해, series[series >= 5] 로 값이 5 이상인 요소만 가지는 Series를 취득할 수 있다.
또한, series[][]처럼, []를 여러 개 덧붙여 복수의 조건을 추가할 수 있다.

In [0]:
# 8-21
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data,index=index)

# series의 요소 중에서 5이상 10미만의 요소를 포함하는 Series를 만들어 series에 다시 대입
series = series[series >=5][series <10]
print(series)

orange    5
banana    8
dtype: int64

### 8.2.7. 정렬
   - Pandas에는 index정렬과 data정렬이 있다
   - 인덱스 정렬 : (pandas.Series형 변수이름).sort_index()로,
   - 데이터 정렬 : (pandas.Series형 변수이름).sort_values()로 정렬한다.
   - 인수 미 지정시, 오름차순으로 정렬된다.
   - 인수에 ascending=False를 전달하면 내림차순으로 정렬된다.

In [0]:
# 8-23
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)

# series의 인덱스를 알파벳순으로 정렬해서 items1에 대입
items1 = series.sort_index()
print(items1)
print()
# series의 데이터값을 오름차순으로 정렬해서 items2에 대입
items2 = series.sort_values(ascending=False)
print(items2)

apple         10
banana         8
kiwifruit      3
orange         5
strawberry    12
dtype: int64

strawberry    12
apple         10
banana         8
orange         5
kiwifruit      3
dtype: int64

## 8.3 DataFrame
### 8.3.1. DataFrame 생성
   - DataFrame은 Series를 여러 개 묶은 것 같은 2차원 데이터 구조를 하고 있음
   - DataFrame은 pd.DataFrame()에 Series를 전달하여 생성
   - 행에는 0부터 오름차순으로 번호가 붙어 있다.
   - DataFrame의 값으로 list를 포함, 딕셔너리형을 넣어도 되며, 해당리스트열이 길이는 같아야함

In [0]:
# DataFrame의 생성 예
import pandas as pd

# Dictionary형 데이터 data를 선언
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "year":[2001,2002,2001,2008,2006],
        "time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [0]:
# 8-26
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]

series1 = pd.Series(data1,index=index)
series2 = pd.Series(data2, index=index)

# series1과 series2로 DataFrame을 생성하여 df에 대입하세요.
df = pd.DataFrame([series1,series2])
print(df)

   apple  orange  banana  strawberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

### 8.3.2. 인덱스와 컬럼 설정
   - DataFrame에서는 행을 index, 열을 column이라고 부른다
   - 인수를 지정하지 않고 DataFrame을 만들면, 0부터 오름차순으로 인덱스가 할당된다.
   - 컬럼은 원본데이터 series의 인덱스 및 딕셔너리의 키가 된다.
   - DataFrame형 변수 df의 인덱스는 df.index에 행수와 같은 길이의 리스트를 대입하여 설정
   - df의 컬럼은 df.column에 열 수와 같은 길이의 리스트를 대입하여 설정할 수 있다

In [0]:
# 8-28
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)
df = pd.DataFrame([series1,series2])

# DataFrame형의 변수 df의 인덱스가 1부터 시작하도록 설정
print("original df :\n",df)
print("\npost sorted :\n")
print("현재 두 개의 시리즈가 인덱스 없이 포함되어, 오름차순 인덱스 0,1을 갖는다\n")
df.index = [1,2]
print(df)

original df :
    apple  orange  banana  strawberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

post sorted :

현재 두 개의 시리즈가 인덱스 없이 포함되어, 오름차순 인덱스 0,1을 갖는다

   apple  orange  banana  strawberry  kiwifruit
1     10       5       8          12          3
2     30      25      12          10          8

### 8.3.3. 행 추가
   - 새로운 관측 데이터나 거래정보 얻을 시, 기존 DataFrame에 추가할 수 있다
   - DataFrame형 변수 df에 df.append("Series형 데이터", ignore_index=True)를실행시
   - 전달된 series형 데이터의 인덱스가 df의 컬럼에 대응해 새로운 행이 추가된 DataFrame이 생성된다. 다만, df의 컬럼과 df에 추가할 Series형 데이터의 인덱스가 일치하지 않으면, df에 새로운 칼럼이 추가되고, 값이 존재하지 않는 요소로 NaN으로 채워진다.

In [0]:
# 8-30 행을 추가하는 예
# 딕셔너리 형 데이터를 pandas.DataFrame으로 만든다음
import pandas as pd

data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "time":[1,4,5,6,3]}
print("dictionary data type define :")
print(data)
print()

df = pd.DataFrame(data)
print(df)
print()
series = pd.Series(["mango",2008,7],index=["fruits","year","time"])
df = df.append(series, ignore_index=True)
print(df)

dictionary data type define :
{'fruits': ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], 'time': [1, 4, 5, 6, 3]}

       fruits  time
0       apple     1
1      orange     4
2      banana     5
3  strawberry     6
4   kiwifruit     3

       fruits  time    year
0       apple     1     NaN
1      orange     4     NaN
2      banana     5     NaN
3  strawberry     6     NaN
4   kiwifruit     3     NaN
5       mango     7  2008.0

'\nseries = pd.Series(["mango",2008,7], index=["fruits","year","time"])\ndf = df.appedn(series, ignore_index=True)\nprint(df)\n'

In [3]:
# 8-31
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]
data3 = [30,12,10,8,25,3]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

# df에 series3을 추가하고 df에 다시 대입
index.append("pineapple")
series3 = pd.Series(data3, index=index)
df = pd.DataFrame([series1, series2])

# series3을 추가하여 df에 다시 대입하세요
df = df.append(series3, ignore_index=True)
print(df)
# df와 추가할 Series의 인덱스가 일치하지 않을 떄의 동작을 확인
print(df)

   apple  orange  banana  strawberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     30      25      12          10          8        NaN
2     30      12      10           8         25        3.0
   apple  orange  banana  strawberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     30      25      12          10          8        NaN
2     30      12      10           8         25        3.0

### 8.3.4. 열 추가
   - 새로운 데이터 추가시 DataFrame의 Colomn에 추가할 수 있음
   -

In [5]:
# 8-33 : 열을 추가하는 방법
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "year" :[2001,2002,2001,2008,2006],
        "time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print(df)
print()
df["price"] = [150,120,100,300,150]   # 데이터프레임변수명["추가열"]
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  year  time  price
0       apple  2001     1    150
1      orange  2002     4    120
2      banana  2001     5    100
3  strawberry  2008     6    300
4   kiwifruit  2006     3    150

In [10]:
# 8-34 : df에 새로운 열 mango를 만들어 new_column의 데이터를 추가하세요
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10, 5,8,12,3]
data2 = [30,25,12,10,8]
series1 = pd.Series(data1,index=index)
series2 = pd.Series(data2,index=index)

new_column = pd.Series([15,7],index=[0,1])

#series1과 series2로 DataFrame을 생성
df = pd.DataFrame([series1,series2])
print(df)
print()
print(new_column)
# 8-34 : df에 새로운 열 mango를 만들어 new_column의 데이터를 추가하세요
df["mango"] = new_column
print(df)

   apple  orange  banana  strawberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

0    15
1     7
dtype: int64
   apple  orange  banana  strawberry  kiwifruit  mango
0     10       5       8          12          3     15
1     30      25      12          10          8      7

#### df["새로운 열의 인덱스"] = new_column

### 8.3.5. 데이터 참조
   - loc :DataFrame형 변수를 이름으로 참조
      * 이름 : 인덱스와 컬럼명
      * df.loc["인덱스 리스트","컬럼 리스트"] 로 지정한 영역의 데이터프레임을 얻을 수 있다
   - iloc : 번호로 참조

In [15]:
# 8-36 : 이름에 의한 참조의 예
import pandas as pd

data = {"fruit":["apple","orange","banana","strawberry","kiwifruit"],
        "year":[2001,2002,2001,2008,2006],
        "time":[1,4,5,6,3]}
print(data,type(data),"\n")
df = pd.DataFrame(data)
print(df, type(df),"\n")

# 8-37 : 이름에 의한 참조의 예2
df = df.loc[[1,2],["time","year"]]
print(df)

{'fruit': ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], 'year': [2001, 2002, 2001, 2008, 2006], 'time': [1, 4, 5, 6, 3]} <class 'dict'>

        fruit  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3 <class 'pandas.core.frame.DataFrame'>

   time  year
1     4  2002
2     5  2001

In [27]:
# 8-38
import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]
#print(columns,type(columns))
# DataFrame을 생성하고 열을 추가한다.
df = pd.DataFrame()
#print(df,type(df))
for column in columns:
  df[column] = np.random.choice(range(1,11),10)

# range(시작행수, 종료행수-1)
#df.index() = range(1,11)

print(df)
print()
df.index=range(1,11)
# DataFrame형 변수 df를 df.loc["인덱스리스트","컬럼리스트"]로 지정하여 해당범위의 DataFrame을 얻을 수 있다
df = df.loc[range(2,6),["banana","kiwifruit"]]
print(df)

   apple  orange  banana  strawberry  kiwifruit
0      6       8       6           3         10
1      1       7      10           4         10
2      4       9       9           9          1
3      4       9      10           2          5
4      8       2       5           4          8
5     10       7       4           4          4
6      4       8       1           4          3
7      6       8       4           8          8
8      3       9       6           1          3
9      5       2       1           2          1

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

   - 번호로 참조 : DataFrame형의 데이터를 번호(인덱스와 컬럼 번호)로 참조할 때는, iloc을 사용한다.
   - DataFrame형 변수 df를 iloc["행번호리스트","열번호 리스트"]로 지정할수있음

In [37]:
# 8-40 : 번호에 의한 참조의 예1
import pandas as pd

data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "year":[2001,2002,2001,2008,2006],
        "time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print(df)

# 8-41
#df = df.iloc[[1,3],[0,2]]
#print()
#print(df)
df = df.iloc[[1,3],[0,1]]
print()
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  year
1      orange  2002
3  strawberry  2008

In [43]:
# 8-42
import pandas as pd
import numpy as np

np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]
# DataFrame을 생성하고 열을 추가
df = pd.DataFrame()
for column in columns:
  df[column] = np.random.choice(range(1,11),10)

df.index = range(1,11)
df1 = df.iloc[range(1,5),[2,4]]
df2 = df.iloc[1:5,[2,4]]
print(df1)
print()
print(df2)

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

### 8.3.6. 행 또는 열의 삭제
   - df.drop()

In [44]:
# 8-44
import pandas as pd
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "time":[1,4,5,6,3],
        "year":[2001,2003,2001,2008,2006]}
df = pd.DataFrame(data)
print(df)

# using .drop() 
df_1 = df.drop(range(0,2))
df_2 = df.drop("year",axis=1)

print(df_1)
print()
print(df_2)

       fruits  time  year
0       apple     1  2001
1      orange     4  2003
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006
       fruits  time  year
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006

       fruits  time
0       apple     1
1      orange     4
2      banana     5
3  strawberry     6
4   kiwifruit     3

In [48]:
# 8-45
import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

# DataFrame Generate
df = pd.DataFrame()
for column in columns:
  df[column] = np.random.choice(range(1,11),10)
df.index = range(1,11)

# drop()을 이용하여 df에서 홀수 인덱스가 붙은 행만 남겨 df에 대입
df = df.drop(np.arange(2,11,2))
# np.arange(2,11,2)는 2에서 10까지의 수열을 2의 간격으로 추출한 것이다
print(np.arange(2,11,2))
print()
print(df)

# drop()을 이용하여 df의 열 "strawberry"를 삭제하고 df에 대힙
df = df.drop("strawberry",axis=1)
print()
print(df)

[ 2  4  6  8 10]

   apple  orange  banana  strawberry  kiwifruit
1      6       8       6           3         10
3      4       9       9           9          1
5      8       2       5           4          8
7      4       8       1           4          3
9      3       9       6           1          3

   apple  orange  banana  kiwifruit
1      6       8       6         10
3      4       9       9          1
5      8       2       5          8
7      4       8       1          3
9      3       9       6          3

### 8.3.7. 정렬
   - df.sort_values (by="컬럼 또는 컬럼리스트",ascending=True) 오름차순 정렬

In [0]:
# 8-47