<a href="https://colab.research.google.com/github/redrabbit329/colab_pypydl/blob/master/Ch9_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Ch9. Pandas 응용
## 9.1. DataFrame연결과 결합의 개요
   - 연결 : DataFrame을 일정 방향으로 붙이는 작업
   - 결합 : 특정 Key를 참조하여 연결하는 조작
## 9.2. DataFrame 연결
### 9.2.1. 인덱스나 컬럼이 일치하는 DataFrame간의 연결
   - 인덱스 또는 컬럼이 일치하는 DataFrame간의 연결
   - pandas.concat("DataFrame리스트", axis=0) 리스트 세로연결 - 동일한 컬럼으로 연결
   - pandas.concat("DataFrame리스트", axis=1) 리스트 가로연결 - 동일한 인덱스로 연결
   

>   **7장 복습 :**  
        - 2차원 테이블로 나타나는 DataFrame 의 가로방향 데이터는 [행row], 세로방향 데이터는[열col]
        - [행row]의 라벨은 인덱스Index, [열column]의 라벨은 컬럼이라고 부른다.

In [0]:
# 9-1
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DataFrame을 난수로 생성하는 함수입니다.
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()     # Pandas로부터 DataFrame을 생성
    for column in columns:
        df[column] = np.random.choice(range(1,101),len(index))   # range(시작행수, 종료행수-1)
    df.index = index
    return df


# 인덱스와 컬럼이 일치하는 DataFrame을 만듭니다.
print(list(range(1,5)))   # range(1,5)에 의해 [1,2,3,4] 리스트를 생성, index로 입력
columns = ["apple","orange","banana"]
df_data1 = make_random_df(range(1,5), columns, 0)
df_data2 = make_random_df(range(1,5), columns, 1)
print("-------------------------")
print("=> df_data1 :\n",df_data1)
print("=> df_data2 :\n",df_data2)
print("-------------------------\n")
# df_data1과 da_data2를 세로로 연결하여 df1에 대입하세요.
# DataFrame의 "연결"은 "concat"이다.
# pandas.concat("DataFrame리스트", axis=0) 세로 연결
# pandas.concat("DataFrame리스트" axis=1) 가로 연결
df1 = pd.concat([df_data1, df_data2], axis=0)
print(df1)
# df_data1과  df_data2를 가로로 연결하여 df2에 대입하세요
df2 = pd.concat([df_data1, df_data2], axis=1)
print(df2)

[1, 2, 3, 4]
-------------------------
=> df_data1 :
    apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89
=> df_data2 :
    apple  orange  banana
1     38      76      17
2     13       6       2
3     73      80      77
4     10      65      72
-------------------------

   apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89
1     38      76      17
2     13       6       2
3     73      80      77
4     10      65      72
   apple  orange  banana  apple  orange  banana
1     45      68      37     38      76      17
2     48      10      88     13       6       2
3     65      84      71     73      80      77
4     68      22      89     10      65      72

#### Example (8-28)
----------------------
```python
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)
df = pd.DataFrame([series1, series2])
# 인수를 지정하지 않고 pd.DataFrame을 작성하면, 0부터 오름차순으로 인덱스가 할당됩니다.
print(df)
print()
# df의 인덱스(행의 이름을 인덱스, 열의 이름을 컬럼)가 1부터 시작하도록 설정하세요
df.index = [1,2]
print(df)
```

###  9.2.2. 인덱스나 컬럼이 일치하지 않는 DataFrame간의 연결
   - 인덱스나 컬럼이 일치하지 않는 연결일 경우, NaN생성

In [0]:
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DafaFrame을 난수로 생성하는 함수
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1,101),len(index))   # index의 길이만큼 column을 증가시키며 항목에 데이터를 채워넣음
    df.index = index   # index를 지정 안 해주는 경우 확인
    return df

columns1 = ["apple","orange","banana"]
columns2 = ["orange","kiwifruit","banana"]
print(columns1,columns2)

# 인덱스가 1,2,3,4고, 컬럼이 columns1인 DataFrame을 만든다.
#df_data1 = make_random_df([1,2,3,4], columns1, 0)
df_data1 = make_random_df(range(1,5),columns1,0)
print("df_data1 :\n", df_data1,"\n")
# 인덱스가 1,3,5,7이고, 컴럼이 columns2인 DataFrame을 만든다.
#df_data2 = make_random_df([1,3,5,7], columns2, 1)
#df_data2 = make_random_df(np.arange(1,8,2), columns2,1)
df_data2 = make_random_df(np.arange(1,8,2), ["orange","kiwifruit","banana"],1)
print("df_data2 :\n", df_data2,"wn")

# df_data1과 df_data2를 세로로 연결하여 df1에 대입하세요
df1 = pd.concat([df_data1, df_data2], axis=0)
print(df1)
print()

# df_data1과 df_data2를 가로로 연결하여 df2에 대입하세요.
df2 = pd.concat([df_data1, df_data2], axis=1)
print(df2)

['apple', 'orange', 'banana'] ['orange', 'kiwifruit', 'banana']
df_data1 :
    apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89

df_data2 :
    orange  kiwifruit  banana
1      38         76      17
3      13          6       2
5      73         80      77
7      10         65      72 wn
   apple  banana  kiwifruit  orange
1   45.0      37        NaN      68
2   48.0      88        NaN      10
3   65.0      71        NaN      84
4   68.0      89        NaN      22
1    NaN      17       76.0      38
3    NaN       2        6.0      13
5    NaN      77       80.0      73
7    NaN      72       65.0      10

   apple  orange  banana  orange  kiwifruit  banana
1   45.0    68.0    37.0    38.0       76.0    17.0
2   48.0    10.0    88.0     NaN        NaN     NaN
3   65.0    84.0    71.0    13.0        6.0     2.0
4   68.0    22.0    89.0     NaN        NaN     NaN
5    NaN     NaN     NaN    73.0       80.0    77.0
7    NaN     NaN     NaN    10.0       65.0    72.0

### 9.2.3. 연결 시 라벨 지정하기
   - DataFrame을 [연결]할 때, 라벨중복을 피하기 위해 : pd.concat()에 keys를 추가한다.
   - concat_df = pd.concat([df_data1, df_data2], axis=1,keys=["X","Y"])
   - df[컬럼X]로 X라벨의 열을 참조할 수 있고, df["X","apple"]로 "X"컬럼 내 "apple"컬럼 참조가능

In [0]:
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DataFrame을 난수로 생성하는 함수
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1,101),len(index))
    df.index = index
    return df

columns = ["apple","orange","banana"]
df_data1 = make_random_df(range(1,5), columns, 0)
df_data2 = make_random_df(range(1,5), columns, 1)   # seed가 달라, 다른 값의 데이터 프레임이 생성됨

# df_data1과 df_data2를 가로로 연결하고, keys로 "X","Y"를지정하여, MultiIndex로 만든 뒤 df에 대입하세요
df = pd.concat([df_data1, df_data2], axis=1, keys=["X","Y"])
print(df,"\n")

# df의 "Y"라벨 "banana"를 Y_banana에 대입하세요.
Y_banana = df["Y", "banana"]
print(Y_banana)

      X                   Y
  apple orange banana apple orange banana
1    45     68     37    38     76     17
2    48     10     88    13      6      2
3    65     84     71    73     80     77
4    68     22     89    10     65     72

1    17
2     2
3    77
4    72
Name: (Y, banana), dtype: int32

## 9.3. DataFrame 결합
### 9.3.1. 결합 유형
   - 결합(join) = 병합(merge) : 결합은, Key로 불리는 열을 지정. 두 DB의 Key값이 일치하는 행을 옆으로 연결
   - 내부 결합 : Key열이 공통되지 않는 행은 삭제된다.
   - 외부 결합 : Key열이 공통되지 않아도 삭제되지 않고 NaN셀이 생성된다.
   - 결합 결과 가능한 많은 요소를 갖는 편이 좋은 경우는 외부 결합이 바람직함
### 9.3.2. 내부 결합의 기본
   - pandas.merge(df1,df2, on=Key가 될 컬럼, how="inner")
   - Key열의 값이 일치하지 않는 행은 삭제된다.

In [0]:
# 9-7
import numpy as np
import pandas as pd

# ValueError: arrays must all be same length : 
data1 = {
    "fruits":["apple","orange","banana","strawberry", "kiwifruit"],
    "year"  :[2001,   2002,    2001,    2008,         2006],
    "amount":[1,      4,       5,       6,            3]
}
df1 = pd.DataFrame(data1)

data2 = {"fruits":["apple","orange","banana","strawberry","mango"],
        "year":[2001,2003,2001,2008,2007],
        "price":[150,120,100,250,3000]}
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)
print()

# df1과 df2의 컬럼 "fruits"를 Key로 하여, 내부 결합한 DataFrame을 df3에 대입하세요.
# df1, df2 두 DataFrame에 대해, pandas.merge(df1,df2, on=Key가될 컬럼, how="inner")
df3 = pd.merge(df1, df2, on="fruits",how="inner")
print("내부결합, 서로 일치하지 않는 kiwifruit과 mango가 삭제됨")
print(df3)

   amount      fruits  year
0       1       apple  2001
1       4      orange  2002
2       5      banana  2001
3       6  strawberry  2008
4       3   kiwifruit  2006

       fruits  price  year
0       apple    150  2001
1      orange    120  2003
2      banana    100  2001
3  strawberry    250  2008
4       mango   3000  2007

내부결합, 서로 일치하지 않는 kiwifruit과 mango가 삭제됨
   amount      fruits  year_x  price  year_y
0       1       apple    2001    150    2001
1       4      orange    2002    120    2003
2       5      banana    2001    100    2001
3       6  strawberry    2008    250    2008

### 9.3.3. 외부 결합의 기본
   - df1, df2에 대해, pandas.merge(df1, df2,on=Key가될 컬럼,how="outer")로 외부결합DataFrame생성
   - df1은 왼쪽에 위치. Key열의 값이 일치하지 않는 행이 삭제되지 않고 남겨져 NaN으로 채워진 열 생성

In [0]:
# 9-9
import numpy as np
import pandas as pd

data1 = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year"  :[2001,   2002,    2001,    2008,        2006],
    "amount":[1,      4,       5,       6,           3]
}
df1 = pd.DataFrame(data1)

data2 = {
    "fruits":["apple","orange","banana","strawberry","mango"],
    "year"  :[2001,   2002,    2001,    2008,        2006],
    "price" :[150,    120,     100,     250,         3000]
}
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)
print()

# df1과 df2의 컬럼 "fruits"를 "Key"로 하여 외부결합한 DataFaram을 df3에 대입
df3 = pd.merge(df1,df2, on="fruits", how="outer")
print(df3)

   amount      fruits  year
0       1       apple  2001
1       4      orange  2002
2       5      banana  2001
3       6  strawberry  2008
4       3   kiwifruit  2006

       fruits  price  year
0       apple    150  2001
1      orange    120  2002
2      banana    100  2001
3  strawberry    250  2008
4       mango   3000  2006

   amount      fruits  year_x   price  year_y
0     1.0       apple  2001.0   150.0  2001.0
1     4.0      orange  2002.0   120.0  2002.0
2     5.0      banana  2001.0   100.0  2001.0
3     6.0  strawberry  2008.0   250.0  2008.0
4     3.0   kiwifruit  2006.0     NaN     NaN
5     NaN       mango     NaN  3000.0  2006.0

### 9.3.4. 이름이 다른 열을 Key로 결합하기
   - pandas.merge(왼쪽DF, 오른쪽DF, left_on = "왼쪽DF의 컬럼", right_on="오른쪽DF의 컬럼", how="결합방식")으로 컬럼이 달라도 결합

In [0]:
# 9-11
import pandas as pd

order_df = pd.DataFrame(
                            [[1000,2546,103],
                             [1001,4352,101],
                             [1002,342, 101]],
                            columns=["id","item_id","customer_id"]
                        )
print(order_df)
print()

customer_df = pd.DataFrame(
                            [[101, "광수"],
                             [102, "민호"],
                             [103, "소희"]],
                            columns=["id","name"]
                        )
print(customer_df)
print()

# order_df을 바탕으로 "id"를 customer_df와 결합하여, order_df에 대입하세요.
order_df = pd.merge(order_df, customer_df, left_on = "customer_id", right_on="id", how="inner")
print(order_df)

     id  item_id  customer_id
0  1000     2546          103
1  1001     4352          101
2  1002      342          101

    id name
0  101   광수
1  102   민호
2  103   소희

   id_x  item_id  customer_id  id_y name
0  1000     2546          103   103   소희
1  1001     4352          101   101   광수
2  1002      342          101   101   광수

In [0]:
# 9-13
import pandas as pd
#주문 정보입니다.
order_df = pd.DataFrame(
                            [[1000, 2546, 103],
                             [1001, 4352, 101],
                             [1002, 342,  101]],
                             columns = ["id", "item_id", "customer_id"]
                         )
# 고객 정보입니다.
customer_df =(
                pd.DataFrame(
                                [[101,"광수"],
                                 [102,"민호"],
                                 [103,"소희"]],
                                columns = ["id","name"]
                            )
              )
customer_df.index = [101, 102, 103]

# customer_df을 바탕으로, "name"을 order_df과 결합하여, order_df에 대입하세요.
order_df = pd.merge(order_df, customer_df, left_on="customer_id", right_on="id",how="inner")

print(order_df)

   id_x  item_id  customer_id  id_y name
0  1000     2546          103   103   소희
1  1001     4352          101   101   광수
2  1002      342          101   101   광수

## 9.4. DataFrame을 이용한 데이터 분석
### 9.4.1. 특정 행 얻기
   - df.head()는 첫 5행만 담긴 DataFrame을 반환.
   - df.tail()은 끝 5행만 담긴 DataFrame을 반환
   - 정수로 인수지정시, 처음이나 끝에서부터 특정 행까지의 DataFrame을 얻을수있음

In [0]:
import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

# DataFrame을 생성하고 열을 추가합니다
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)
df.index = range(1,11)

# df의 첫 3행을 취득하여 df_head에 대입하세요
df_head = df.head(3)

# df의 끝 3행을 취득하여 df_tail에 대입하세요
df_tail = df.tail(3)
print(df_head)
print()
print(df_tail)

   apple  orange  banana  strawberry  kiwifruit
1      6       8       6           3         10
2      1       7      10           4         10
3      4       9       9           9          1

    apple  orange  banana  strawberry  kiwifruit
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

### 9.4.2. 계산 처리하기
   - NumPy에서 제공하는 함수에 Series나 DataFrame을 전달하여 전체 요소 계산 가능
   - Pandas는 NumPy처럼 브로드캐스트를 지원

In [0]:
# 9-17
import pandas as pd
import numpy as np
import math

np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

# DataFrame생성 및 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)
df.index = range(1,11)

# df의 각 요소를 두 배로 만들어 double_df에 대입하세요
double_df = df*2

# df의 각 요소를 제곱하여 squre_df에 대입하세요
square_df = df*df

# df의 각 요소를 제곱근 계산하여 sqrt_df에 대입하세요
sqrt_df = np.sqrt(df)

print(double_df)
print()
print(square_df)
print()
print(sqrt_df)

    apple  orange  banana  strawberry  kiwifruit
1      12      16      12           6         20
2       2      14      20           8         20
3       8      18      18          18          2
4       8      18      20           4         10
5      16       4      10           8         16
6      20      14       8           8          8
7       8      16       2           8          6
8      12      16       8          16         16
9       6      18      12           2          6
10     10       4       2           4          2

    apple  orange  banana  strawberry  kiwifruit
1      36      64      36           9        100
2       1      49     100          16        100
3      16      81      81          81          1
4      16      81     100           4         25
5      64       4      25          16         64
6     100      49      16          16         16
7      16      64       1          16          9
8      36      64      16          64         64
9       9      81      36           1          9
10     25       4       1           4          1

       apple    orange    banana  strawberry  kiwifruit
1   2.449490  2.828427  2.449490    1.732051   3.162278
2   1.000000  2.645751  3.162278    2.000000   3.162278
3   2.000000  3.000000  3.000000    3.000000   1.000000
4   2.000000  3.000000  3.162278    1.414214   2.236068
5   2.828427  1.414214  2.236068    2.000000   2.828427
6   3.162278  2.645751  2.000000    2.000000   2.000000
7   2.000000  2.828427  1.000000    2.000000   1.732051
8   2.449490  2.828427  2.000000    2.828427   2.828427
9   1.732051  3.000000  2.449490    1.000000   1.732051
10  2.236068  1.414214  1.000000    1.414214   1.000000

### 9.4.3. 통계 정보 얻기
   - 컬럼별 통계정보 집계 : df.describe()하여 컬럼당 데이터의 정보를 포함하는 DataFrame반환 가능

In [0]:
# 9-19
import pandas as pd
import numpy as np

np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

# DataFrame Generation
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)
df.index = range(1,11)

# df의 통계 정보 중"mean","max","min"을 꺼내서 df_des에 대입하세요.
df_des = df.describe().loc[["mean","max","min"]]

print(df_des)

      apple  orange  banana  strawberry  kiwifruit
mean    5.1     6.9     5.6         4.1        5.3
max    10.0     9.0    10.0         9.0       10.0
min     1.0     2.0     1.0         1.0        1.0

### 9.4.4. DataFrame의 행간 차이와 열간 차이 구하기
   - 행간 차이를 구하는 작업은 시계열분석-time-series-analysis에 자주 이용
   - df.diff("행간격 또는 열간격", axis="방향") 지정시, 행간 또는 열간 차이를 계산한 DataFrame생성

In [0]:
# 9-21
import pandas as pd
import numpy as np

np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)
df.index = range(1,11)

# df의 각 행에 대해 2행 뒤와의 차이를 계산한 DataFrame을 df_diff에 대입하세요.
df_diff = df.diff(-2, axis=0)

print(df)
print()
print(df_diff)

    apple  orange  banana  strawberry  kiwifruit
1       6       8       6           3         10
2       1       7      10           4         10
3       4       9       9           9          1
4       4       9      10           2          5
5       8       2       5           4          8
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

    apple  orange  banana  strawberry  kiwifruit
1     2.0    -1.0    -3.0        -6.0        9.0
2    -3.0    -2.0     0.0         2.0        5.0
3    -4.0     7.0     4.0         5.0       -7.0
4    -6.0     2.0     6.0        -2.0        1.0
5     4.0    -6.0     4.0         0.0        5.0
6     4.0    -1.0     0.0        -4.0       -4.0
7     1.0    -1.0    -5.0         3.0        0.0
8     1.0     6.0     3.0         6.0        7.0
9     NaN     NaN     NaN         NaN        NaN
10    NaN     NaN     NaN         NaN        NaN

### 9.4.5. 그룹화
   - 그룹화 : 데이터베이스, DataFrame의 특정열에서 동일한 값의 행을 집계하는 것
   - df.groupby("컬럼") 으로 지정한 컬럼의 그룹화 가능 <---그룹화만 함
   - 그룹화의 결과 표시 : GroupBy객체에 대한 그룹의 평균mean() 합(sum()사용가능

In [0]:
# 9-23
import pandas as pd

prefecture_df = pd.DataFrame(
                    [
                        ["강릉", 1040,213527, "강원도"],
                        ["광주", 430, 1458915,"전라도"],
                        ["평창", 1463,42218,  "강원도"],
                        ["대전", 539, 1479955,"충청도"],
                        ["단양", 780, 29816,  "충청도"]
                    ],
                    columns=["Prefecture","Area","Population","Region"]
                )
print(prefecture_df)

#prefecture_df를 지역(Region)으로 그룹화하여 grouped_region에 대입
grouped_region = prefecture_df.groupby("Region")
print(prefecture_df)
print()

#prefecture_df를 지역별 면적(Area)와 인구(Population)의 평균을 mean_df에 대입
mean_df = grouped_region.mean()
print(mean_df)

  Prefecture  Area  Population Region
0         강릉  1040      213527    강원도
1         광주   430     1458915    전라도
2         평창  1463       42218    강원도
3         대전   539     1479955    충청도
4         단양   780       29816    충청도
  Prefecture  Area  Population Region
0         강릉  1040      213527    강원도
1         광주   430     1458915    전라도
2         평창  1463       42218    강원도
3         대전   539     1479955    충청도
4         단양   780       29816    충청도

          Area  Population
Region
강원도     1251.5    127872.5
전라도      430.0   1458915.0
충청도      659.5    754885.5

## 연습문제

In [0]:
# 9-25
import pandas as pd

# 두 DataFrame을 정의
df1 = pd.DataFrame(
    [
        ["apple", "Fruit",120],
        ["orange","Fruit",60],
        ["banana","Fruit",100],
        ["pumpkin","Vegetable",150],
        ["potato", "Vegetable",80]        
    ],
    columns = ["Name","Type","Price"]
)
df2 = pd.DataFrame(
    [
        ["onion", "Vegetable",60],
        ["carrot","Vegetable",50],
        ["beans", "Vegetable",100],
        ["grape","Fruit",160],
        ["kiwifruit", "Fruit",80]        
    ],
    columns = ["Name","Type","Price"]
)

# DataFtame 결합
df3 = pd.concat([df1, df2], axis=0)

# 과일을 추출하여 Price로 정렬
df_fruit = df3.loc[df3["Type"]=="Fruit"]
df_fruit = df_fruit.sort_values(by="Price")

# 야채를 추출하여 Price로 정렬
df_veg = df3.loc[df3["Type"] == "Vegetable"]
df_veg = df_veg.sort_values(by="Price")

# 과일과 야채의 상위 세 요소의 Price 합을 각각 계싼
print(sum(df_fruit[:3]["Price"]) + sum(df_veg[:3]["Price"]))

430

## 종합 문제

In [0]:
import pandas as pd

index = ["광수","민호","소희","태양","영희"]
columns = ["국어","수학","사회","과학","영어"]
data = [
        [30,45,12,45,87],
        [65,47,83,17,58],
        [64,63,86,57,46],
        [38,47,62,91,63],
        [65,36,85,94,36]
       ]
df = pd.DataFrame(data, index=index, columns=columns)

# df에 "체육"이라는 새 열을 만들고, pe_column의 데이터를 추가하세요
pe_column = pd.Series([56,43,73,82,62], index=["광수","민호","소희","태양","영희"])
df["체육"] = pe_column
print(df)
print()

# 수학을 오름차순으로 정렬
df1 = df.sort_values(by="수학",ascending=True)
print(df1)
print()

# df1의 각 요소에 5점을 더하세요
df2 = df1 + 5
print(df2)
print()

# df의 통계 정보 중에서 "mean","max","min"을 출력하세요.
print(df2.describe().loc[["mean","max","min"]])

    국어  수학  사회  과학  영어  체육
광수  30  45  12  45  87  56
민호  65  47  83  17  58  43
소희  64  63  86  57  46  73
태양  38  47  62  91  63  82
영희  65  36  85  94  36  62

    국어  수학  사회  과학  영어  체육
영희  65  36  85  94  36  62
광수  30  45  12  45  87  56
민호  65  47  83  17  58  43
태양  38  47  62  91  63  82
소희  64  63  86  57  46  73

    국어  수학  사회  과학  영어  체육
영희  70  41  90  99  41  67
광수  35  50  17  50  92  61
민호  70  52  88  22  63  48
태양  43  52  67  96  68  87
소희  69  68  91  62  51  78

        국어    수학    사회    과학    영어    체육
mean  57.4  52.6  70.6  65.8  63.0  68.2
max   70.0  68.0  91.0  99.0  92.0  87.0
min   35.0  41.0  17.0  22.0  41.0  48.0